.timelinegallery {
  color: #ccc;
}
.timelinegallery .intro {
  color: #ccc;
}
.timelinegallery .intro h3 {
  color: #ccc;
}
.timelinegallery .intro h3 span {
  color: #ccc;
}
.timelinegallery .intro p {
  color: #ccc;
}
.timelinegallery .intro p span {
  color: #ccc;
}
.timelinegallery figure {
  color: #ccc;
}
.timelinegallery figure img {
  color: #ccc;
}
.timelinegallery figure figcaption {
  color: #ccc;
}
.timelinegallery figure figcaption span {
  color: #ccc;
}