.timelinegallery{color:#ccc;

    .intro{color:#ccc;
        h3{color:#ccc;
            span{color:#ccc;

            }
        }
        p{color:#ccc;
            span{color:#ccc;

            }
        }

    }
    figure{color:#ccc;
        img{color:#ccc;

        }
        figcaption{color:#ccc;
            span{color:#ccc;

            }
        }
    }
}