#president{color:#111;
    section{color:#111;
        .wrap{color:#111;
            ul.nav{color:#111;
                li{color:#111;
                    a{color:#111;

                    }
                }
            }
            ul.gallery{color:#111;
                li{color:#111;
                    a{color:#111;
                        img{color:#111;

                        }
                    }
                }
            }
            h2{color:#111;
                span{color:#111;

                }
            }
            >p{color:#111;
                span{color:#111;

                }
                strong{color:#111;

                }
            }
            ul.career{color:#111;
                li{color:#111;
                    a{color:#111;

                    }
                }

            }
            ul.year{color:#111;
                li{color:#111;
                    h3{color:#111;

                    }
                    ol{color:#111;
                        li{color:#111;
                            strong{color:#111;

                            }
                        }
                    }
                }
            }
        }
    }
}